<div class="formTemplate">
  <h3><%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %></h3>
  <div class="effect2"><%= image_tag 'https://i.imgur.com/Y4SC3En.jpg' %></div>
  <div class="formAlign">
    <%= form_tag "/shelters/#{@shelter.id}", method: :patch do %>
      <div>
        <p>Name</p>
        <%= text_field_tag :name, @shelter.name, class: "formField" %>
      </div>
      <div>
        <p>Adderess:</p>
        <%= text_field_tag :address, @shelter.address, class: "formField" %>
      </div>
      <div>
        <p>City:</p>
        <%= text_field_tag :city, @shelter.city, class: "formField" %>
      </div>
      <div>
        <p>State:</p>
        <%= text_field_tag :state, @shelter.state, class: "formField" %>
      </div>
      <div>
        <p>Zip:</p>
        <%= text_field_tag :zip, @shelter.zip, class: "formField" %>
      </div>
      <div>
      <%= submit_tag 'Update Shelter', class: "button" %>
      </div>
    <% end %>
  </div>
</div>