<div class="shelter">
  <h1><%= @shelter.name %> </h1>
  <div class="effect2">
    <%= image_tag 'https://i.imgur.com/Y4SC3En.jpg' %>
  </div>
  <p>Address: <%= @shelter.address %></p>
  <p>City: <%= @shelter.city %></p>
  <p>State: <%= @shelter.state %></p>
  <p>Zip: <%= @shelter.zip %></p>
  <div class="shelterActions">
    <%= link_to 'Available Pets', "/shelters/#{@shelter.id}/pets" %>
  </div>
  <div class="shelterActions">
    <%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %>
  </div>
  <div class="shelterActions">
    <%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %>
  </div>
  <div class="reviewsBlock">
    <% @shelter.reviews.each do |review| %>
      <div>
        <%= review.title %>
      </div>
      <div>
        Rating: <%= review.rating %>
      </div>
      <div>
        <%= review.content %>
      </div>
      <div>
        <%= image_tag "#{review.image}" %>
      </div>
    <% end %>
    <%= link_to "Create new review for #{@shelter.name}", "/shelters/#{@shelter.id}/reviews/new" %>
  </div>
</div>
