<div class="shelter">
  <div class="effect2"><%= image_tag 'https://i.imgur.com/Y4SC3En.jpg' %></div>
  <div class="shelterShowContent">
    <div class="shelterColumn1">
      <h1><%= @shelter.name %></h1>
      <div class="shelterInfoAttribute">Address: <%= @shelter.address %></div>
      <div class="shelterInfoAttribute">City: <%= @shelter.city %></div>
      <div class="shelterInfoAttribute">State: <%= @shelter.state %></div>
      <div class="shelterInfoAttribute">Zip: <%= @shelter.zip %></div>
      <div class="shelterActions">
        <div class="shelterActions"><%= link_to 'Available Pets', "/shelters/#{@shelter.id}/pets" %></div>
        <div class="shelterActions"><%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %></div>
        <div class="shelterActions"><%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %></div>
        <div class="shelterActions"><%= link_to "Create new review for #{@shelter.name}", "/shelters/#{@shelter.id}/reviews/new" %></div>
      </div>
    </div>
    <div class="shelterColumn2">
      <% @shelter.reviews.each do |review| %>
        <div class="reviewTitle"><%= review.title %></div>
        <div class="reviewAttribute">Rating: <%= review.rating %></div>
        <div class="reviewAttribute"><%= review.content %></div>
        <div><%= link_to "Edit Review", "/shelters/#{@shelter.id}/reviews/#{review.id}/edit" %></div>
        <div><%= link_to "Delete Review", "/shelters/#{@shelter.id}/reviews/#{review.id}", method: :delete %></div>
        <div class="effect2"><%= image_tag "#{review.image}" %></div>
      <% end %>
    </div>
  </div>
</div>
