<div class="applicationShowBlock">
  <div class="applicationShowInfo">
    <div><%= @application[:name] %></div>
    <div><%= @application[:address] %></div>
    <div><%= @application[:city] %></div>
    <div><%= @application[:state] %></div>
    <div><%= @application[:zip] %></div>
    <div><%= @application[:phone] %></div>
    <div><%= @application[:description] %></div>
  </div>

  <div class="applicationShowPets">
    <% @application.pets.each do |pet| %>
      <div><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></div>
      <div><%= pet.sex %></div>
      <div><%= pet.description %></div>
      <div><%= pet.status %></div>
      <div><%= pet.image %></div>
      <% if pet.status == 'adoptable' %>
        <div><%= link_to "Approve Application for #{pet.name}", "/pets/#{pet.id}/applications/#{@application.id}", method: :patch %></div>
      <% elsif pet.pending_for == @application.id.to_s %>
        <div><%= link_to "Unapprove Application for #{pet.name}", "/pets/#{pet.id}/applications/#{@application.id}", method: :patch %></div>
      <% end %>
    <% end %>
  </div>
</div>
