<div class="formTemplate">
  <h3><%= link_to "#{@pet.name}", "/pets/#{@pet.id}" %></h3>
  <div class="effect2"><%= image_tag "#{@pet.image}" %></div>
  <div class="formAlign">
    <%= form_tag "/pets/#{@pet.id}", method: :patch do %>
      <div>
        <p>Name:</p>
        <%= text_field_tag :name, @pet.name, class: "formField" %>
      </div>
      <div>
        <p>Description:</p>
        <%= text_field_tag :description, @pet.description, class: "formField" %>
      </div>
      <div>
        <p>Age:</p>
        <%= text_field_tag :age, @pet.age, class: "formField" %>
      </div>
      <div>
        <p>Sex:</p>
        <%= text_field_tag :sex, @pet.sex, class: "formField" %>
      </div>
      <div>
        <p>Status:</p>
        <%= text_field_tag :status, @pet.status, class: "formField" %>
      </div>
      <div>
        <p>Image Link:</p>
        <%= text_field_tag :image, @pet.image, class: "formField" %>
      </div>
      <div>
      <%= submit_tag 'Update Pet', class: "button" %>
      </div>
    <% end %>
  </div>
</div>
