<div class="formTemplate">
  <h3><%= link_to "#{@review.shelter.name}", "/shelters/#{@review.shelter_id}" %>: Edit Review</h3>
  <div class="effect2"><%= image_tag 'https://i.imgur.com/Y4SC3En.jpg' %></div>
  <div class="formAlign">
    <%= form_tag "/shelters/#{@review.shelter_id}/reviews/#{@review.id}", method: :patch do %>
      <div>
        <p>Title:</p>
        <%= text_field_tag :title, @review.title, class: "formField" %>
      </div>
      <div>
        <p>Rating:</p>
        <%= select_tag :rating, options_for_select([5,4,3,2,1]), selected: "#{@review.rating}" %>
      </div>
      <div>
        <p>Content:</p>
        <%= text_field_tag :content, @review.content, class: "formField" %>
      </div>
      <div>
        <p>Image (optional):</p>
        <%= text_field_tag :image, @review.image, class: "formField" %>
      </div>
      <%= submit_tag 'Save', class: "button" %>
      </div>
    <% end %>
  </div>
</div>